*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #fceec8;
}

.app {
  max-width: 100vw;
  margin: 0 auto;
}
.header-container{
  margin: 10px auto;
}

.header-img{
  width: 20%;
  display: block;
  margin: 0 auto;
}
.container {
  margin: auto;
  padding-top: 10px;
  display:flex;
  gap: 20px;

}

.left-content{
  width: 50vw;
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  justify-content: center;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  flex-shrink: 0;
  width: 220px;
  padding: 0 0.5rem;
  height: 70px;
  border-radius: 8px;
  background-color: rgb(158, 222, 249);
  box-shadow: 0 0 2px 2px rgba(83, 82, 82, 0.5);
}

.right-content {
  margin: 2rem auto;
  width: 50vw;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.card:hover{
  background-color: rgb(0, 222, 249);
  cursor: pointer;
}

.tittle-pokedex{
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.imgContainer {
  width: 60%;
}

.imgContainer img {
  width: 60%;
}

.type-container{
  display: flex;
  gap: 10px;
  margin: 1rem 0;
}

.type-pokemon{
  background-color: rgb(158, 222, 249);
  padding: 0.5rem;
  display: block;
  border-radius: 8px;
  font-weight: bold;
  font-size: 1.125rem;
  text-transform: capitalize;
  box-shadow: 0 0 2px 0px rgba(108, 107, 107, 0.5);

}

.btn-container{
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
}

.btn {
  font-size: 1.125rem;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  border-radius: 0.5rem;
  font-weight: bold;
  background-color: #FFCB05;
  color: #21386E;
  outline: none;
  border: none;
  box-shadow: 0 0 2px 0px rgba(108, 107, 107, 0.5);
}

.btn[disabled] {
  background-color: aliceblue;
}

.btn:hover {
  background-color: rgba(255, 203, 5, 0.5);

}