#root {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #fff7e0;

}

.app {
  max-width: 100vw;
  margin: 0 auto;
}
.header-container{
  width: 100vw;
  margin: 15px auto;
 
}

.header-img{
  width: 20%;
  display: block;
  margin: 0 auto;
}
.container {
  min-height: 700px;
  margin: auto;
  padding-top: 10px;
  display:flex;
  gap: 20px;
}

.left-content{
  width: 50vw;
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  justify-content: center;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  flex-shrink: 0;
  width: 230px;
  padding: 0 0.5rem;
  height: 70px;
  border-radius: 8px;
  background-color: rgb(158, 222, 249);
  box-shadow: 0 0 2px 2px rgba(83, 82, 82, 0.5);
}

.card-data{
  display: flex;
  gap: 10px;
}

.left-content img{
  height: 70px;
  margin-right: -5px;
}

.card:hover{
  background-color: rgb(0, 222, 249);
  cursor: pointer;
}
.right-content {
  margin: rem auto;
  width: 50vw;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  position: fixed;
  right: 0;
}


.tittle-pokedex{
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  color: #444444;
}

.imgContainer {
  max-width: 250px;

  margin: 0 auto;
}

.imgContainer img {
  height: 180px;
  max-width: 100%;
}

.type-container{
  display: flex;
  gap: 10px;
  margin: 1rem 0;
}

.type-pokemon{
  background-color: rgb(158, 222, 249);
  padding: 0.5rem;
  display: block;
  border-radius: 8px;
  font-weight: bold;
  font-size: 1.125rem;
  text-transform: capitalize;
  box-shadow: 0 0 2px 0px rgba(108, 107, 107, 0.5);

}

.info-pokedex{
  text-transform: uppercase;
}

.ability-group{
  display: flex;
  gap: 5px;
  text-transform: capitalize;
}
.info-pokedex span {
  font-weight: normal;
  text-transform: capitalize;
}

.loading{
  font-size: 5rem;
  display: block;
  margin: auto;
}

.btn-container{
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
}

.btn {
  cursor: pointer;
  font-size: 1.125rem;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  border-radius: 0.5rem;
  font-weight: bold;
  background-color: #FFCC01;
  color: #444444;
  outline: none;
  border: none;
  transition: all .2s;
  box-shadow: 0 0 2px 0px rgba(108, 107, 107, 0.5);
}


.btn:hover {
  background-color: rgba(255, 203, 5, 0.5);
  
}
.btn[disabled] {
  background-color: lightgray;
}
.btn[disabled]:hover {
  background-color: lightgray;
}